@model PageViewModel<ShoppingViewPage>
    

<div class="row">
    <p>Shopping page</p>
</div>

@foreach (var item in Model.CurrentPage.ShoesPages)
{

    @*@item.ShoesImage*@
        @item.ShoesName
    @item.ShoesDecscription
}

<span>hello</span>