@using EpiserverSite1.Models.ViewModels
@using EpiserverSite1.Models.Pages

@model PageViewModel<ShoppingPage>
  
<div class="row">
    <div class="span8">
    @*@Html.PropertyFor(x => x.CurrentPage.Categories)*@
    @Html.PropertyFor(x => x.CurrentPage.MainBody)
    </div>
</div>
