@using EPiServer.Web.PageExtensions

@model  PageViewModel<ShoesPage>


<div class="span6">
    <div class="media">
        <div class="mediaImg">
            <p>Here is shoes page</p>

            @*@foreach (var shoeItem in Model.CurrentPage.ShoesItems)
            {
                <h4>@shoeItem.</h4>
            }*@
            @*<h1> @Html.PropertyFor(x => x.CurrentPage.ShoesItems)</h1>*@
        </div>
    </div>
</div>
